<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>商品展示页面</title>
    <link rel="stylesheet"  th:href="@{/static/css/products.css}">
</head>
<body>
       <div class="menu"></div>
       <div class="productsDiv" >
           <div class="lattice"></div>
           <div class="lattice"></div>
           <div class="lattice"></div>
           <div class="lattice"></div>
           <div class="lattice"></div>
           <div class="lattice"></div>
           <div class="lattice"></div>
           <div class="lattice"></div>
           <div class="lattice"></div>
       </div>
</body>
</html>