<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品秒杀活动页面</title>
    <script th:src="@{/static/js/test.js}"></script>


</head>
<body>
<p>商品秒杀活动信息如下：</p>
<div>

</div>
     <button id="btn" onclick="getSeckillingActivity()" value="获取秒杀活动信息"></button>
</body>
<script>
    function getSeckillingActivity(){
        var params  = "seckillingActivityId=1";
        var url = "/index/getSeckillingActivity";
        sendHttpRequest("post",url,true,params);
    }

</script>
</html>