<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品秒杀活动页面</title>
    <script th:src="@{/static/js/test.js}"></script>


</head>
<body>
<p>商品秒杀活动信息如下：</p>
<div>

</div>
     <button id="btn" onclick="getSeckillingActivity()" value="获取秒杀活动信息"></button>
     <button id="save" onclick="saveSeckillingActivity()" value="新增秒杀活动信息"></button>
</body>
<script>
    function getSeckillingActivity(){
        var params  = "seckillingActivityId=1";
        var url = "/index/getSeckillingActivity";
        sendHttpRequest("post",url,true,params);
    }

    function saveSeckillingActivity(){
        var arr = [];
        arr.push("seckilling_activity_id=1");
        arr.push("seckilling_activity_name="+"测试秒杀活动信息"+"");
        arr.push("products_id=1");
        arr.push("seckilling_activity_productsNum=20");
        arr.push("seckilling_activity_introduction="+"这是first个测试秒杀活动信息介绍"+"");
        var url = "/index/saveSeckillingActivity";
        sendHttpRequest("post",url,true,paramsFlush(arr));
    }

</script>
</html>